@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@media screen and (max-width : 700px) {

    .media {
        height: 70vh;
    }

    .box {
        height: 60vh;
    }

    .media-box {
        max-width: 300px;
    }


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.5;
}

body {
    height: 100vh;
    width: 100vw;



}


.container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    min-height: 100vh;
    box-shadow: 1px 2px 5px black;
    background-color: black;
    

}

.media {
    text-align: center;
    display: flex;
    width: 50%;
    min-width: 380px;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    width: 50%;
    min-width: 380px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

h2 {
    position: absolute;
    color: white;
    top: 30px;
    text-align: center;
}

.media-box {
    display: inline-block;
    width: 60%;
    margin-top: 50px;
    min-width: 300px;
}

#customised-umbrella {
    display: inline-block;
    transition: transform 1.5s ease-in-out;
    width: 100%;
    min-width: 300px;
}

#heading {
    font-size: 1.6em;
    text-align: center;
    margin: 20px;
    position: relative;
    top: -50px;

}

.color-Select {
    display: flex;
    position: relative;
    top: -40px;
    justify-items: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 14px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
   

}

.color-Options {
    width: 40px;
    height: 40px;
    opacity: 90%;
    border-radius: 50%;
    margin: 10px 20px;
    box-shadow: 2px 3px 5px black;

}

#color-Pink {
    
    background-color:#ff1493
    
}

#color-Blue {

    background-color: #87ceeb;
}

#color-Yellow {

    background-color: Yellow;
    
    
}

.color-Options:hover {
    opacity: 100%;
    scale: 1.1;
    border: 1px solid #130404;
}

#logo-box {
    display: flex;
    min-width:300px;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.file-label {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    font-size:0.9em;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.file-label:hover {
    background-color: #0056b3;
}

/* Hide the actual file input */
.file-input {
    display: none;
}


.media-box:hover {
    animation: rotation 1.5s 1 ease-in-out;
    
}

.rotate {
    animation: rotation 1.5s 1 ease-in-out;

}

@keyframes rotation {
    from {
        transform: rotate(0deg);
        
    }
    
    to {
        transform: rotate(359deg);
    }
}

#download {
    background-color: #28a745;
    display:none;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#download:hover {
    background-color: #218838;
}